@font-face {
    font-family: 'realize_my_passion';
    src: url(fonts/realize_my_passion.ttf);
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: #f5f5f5;
    font-family: 'realize_my_passion';
}
h1{
    position: relative;
    margin-top:1%;
    text-align: center;
    color: #515151;
    font-size: 53px;
}
.instructionsForUser{
    position: relative;
    text-align: center;
    font-size: 19px;
    font-family: 'Arial';
}
.powerInput{
    position:relative;
    text-align: center;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
}
.radix{
    margin-right: 1%; 
    text-align:center;
    display:inline-block;
    width: 30%;
}
.enterNumbers{
    position: relative;
    border: 0;
    outline: 0;
    background: #fff;
    background: rgba(255,255,255,0.75);
    height: 30px;
    border-radius: 0.35em;
    padding: 0.75em 1em 0.75em 1em;
    border: solid 1px rgba(0,0,0,0.15);
    font-family: 'realize_my_passion';
    font-size: 30px;
    text-align: left;
    display:inline-block;
    width: 40%;
    margin-right: 2%;
}
.bottonBox{
    position: relative;
    text-align: center;
    margin-left: 20%;
    outline: 0;
    width: 60%;
    height: 60px;
    opacity: 1;
    background: rgba(252,240,219,1);
    border-color: rgba(11,20,61,1);
    border-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'realize_my_passion';
    font-size: 36px;  
}