*{
    margin: 0;
	padding: 0;
}
html{
    background: url(field.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width: 100%;
	height:100%;
}
.main{
	width: 1920px;
	height: 1080px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}
#ball{
    position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
    -o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

