*{
    margin: 0px;
	padding: 0px;
}
body{
    margin-top: 40px;
    font-family: 'Arial';
    background-image: url(fon.jpg);
}
p{
    color: #CFCFCF;
    margin-bottom: 1%;
	font-size: 1.5em;
}
.InputTime{
    color: #CFCFCF;
    font-size: 1.3em;
	text-align: center;
}
.InputTime input[type="button"]{
    width: 30%;
    display: block;
    text-align: center;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
	margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #EEE685;
    color: black;
    background-color: #EEE685; 
}
.InputTime input{
    width: 8%;
	 height: 40px;
    font-size: 1em;
    color: #444444;
    border: 2px solid #FFDEAD;
    padding: 5px;
	font-size: 1.1em;
    margin-right: 3%;
    margin-bottom: 2%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.InputTime input:focus{
    outline: none;
    border-color: #07a6e6;
}
.InputTime select{
    height: 40px;
	font-size: 1.1em;
	margin-right: 3%;
	margin-bottom: 2%;
}
.one{
    width: 100%;
    margin-left:0%;
}
.two{
    width: 100%;
	margin-left: -7%;
}
.OuputTimer{
   margin-top:70px;
   width:100%;
   height: 200px;
   /*background: red;*/
   text-align: center;
}
.OuputTimer label{
color: #CFCFCF;
    font-size: 1.5em;
	width:20%;
	margin-right: 1.1%;
	margin-left: 3.6%;
	text-align: center;
}
.timer{
    font-size: 8em;
    background: #E8E8E8;
	border-radius: 20px;
}
.event{
    font-size: 2em;
	color: #E8E8E8;
}